<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/fav.png') }}">

    <meta charset="UTF-8">
    <title> Apollo Coffee</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>
            :root {
                --header-bg-url: url("{{ url_for('static', filename='img/header-bg.jpg') }}");
            }
    </style>

    </head>
    <body>

        <header id="header" id="home">          
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo">
                        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" title="" /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li class="menu-active"><a href="{{ url_for('index') }}">Home</a></li>
                            <li><a href="{{ url_for('login') }}">Login</a></li>
                            <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                        </ul>
                    </nav>             
                </div>
            </div>
        </header>	


        <section class="banner-area" id="home">    
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <div class="banner-content col-lg-7">
                        <h6 class="text-white text-uppercase">Now you can feel the Energy</h6>
                        <h1>
                            Start your day with <br>
                            a black Coffee             
                        </h1>
                    </div>                                          
                </div>
            </div>
        </section>

        
        <section class="menu-area section-gap" id="coffee">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10">What kind of Coffee we serve for you</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>                      
                <div class="row">
                    {% for coffee in coffees %}
                        <div class="col-lg-4">
                            <div class="single-menu">
                                <div class="title-div justify-content-between d-flex">
                                    <h4>{{ coffee.name }}</h4>
                                    <p class="price float-right">
                                        ${{ coffee.smallPrice }}
                                    </p>
                                    <p class="price float-right">
                                        ${{ coffee.largePrice }}
                                    </p>
                                </div>
                                <img src="{{ url_for('static', filename='img/menu-item-' + coffee.productID + '.jpg') }}" alt="{{ coffee.name }}" style="width:100%;">                           
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>  
        </section>


        <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
    </body>
</html>



